:root {
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --light-color: #7f8c8d;
  --background-color: #f4f4f9;
  --white-color: #fff;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: var(--white-color);
  color: var(--text-color);
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.image-container {
  width: 350px;
  height: 600px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 50px;
}

.my-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.text-container {
  max-width: 600px;
}

.home h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  color: var(--primary-color);
}

.home h2 {
  font-size: 2em;
  margin: 0.3em 0;
  color: var(--secondary-color);
}

.home h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
  font-weight: 300;
  color: var(--light-color);
  white-space: nowrap;
  overflow: hidden;
}

.cursor {
  display: inline-block;
  width: 0.15em;
  background-color: var(--light-color);
}

.home p {
  font-size: 1.2em;
  margin-top: 1em;
  line-height: 1.6;
  color: var(--primary-color);
}

.buttons-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.resume-button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.resume-button:hover {
  background-color: var(--primary-color);
}

.gdrive-link {
  margin-left: 20px;
  font-size: 1.8em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.gdrive-link:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 20px;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .home h1 {
    font-size: 2em;
  }

  .home h2 {
    font-size: 1.5em;
  }

  .home h3 {
    font-size: 1.2em;
  }

  .home p {
    font-size: 1em;
  }

  .resume-button {
    font-size: 1em;
  }

  .buttons-container {
    flex-direction: column;
  }

  .gdrive-link {
    margin-left: 0;
    margin-top: 10px;
    font-size: 1.5em;
  }
}
