body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
}

.projects {
  padding: 50px 20px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  text-align: left;
}

#projects h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #2c3e50;
}

.projects div {
  margin-bottom: 40px;
  max-width: 1200px;
}

#projects h3 {
  font-size: 1.8em;
  color: #34495e;
  margin: 10px 0;
  cursor: pointer; /* Added cursor pointer for better UX */
  margin-left: 221px;/* Ensures left alignment */
}

#projects p {

  color: #2c3e50;
  margin-left: 221px;
  font-size: 1.2em;
  line-height: 1.6;
  text-align: justify;
  
}

@media (max-width: 768px) {
  #projects {
    padding: 20px;
  }

  #projects h2 {
    font-size: 2em;
  }

  #projects h3 {
    text-align: left;
    font-size: 1.5em;
  }

  #projects p {
    font-size: 1em;
  }
}
